
-var items = 'Все; Кризис; Семья; Дети; Коммуникация; Мужчина; Женщина; Развитие'.split('; ');

nav.toggle
    each item in items
        label
            -if (item === 'Все')
                input.toggle__old-mark(type="radio" name="questions" checked)
            -else
                input.toggle__old-mark(type="radio" name="questions")
            span.toggle__text #{item}