
section.welcome
    h1.welcome__head Мы служба дистанционной психологической помощи.
    p.welcome__comment
        | Мы команда психологов, психотерапевтов, менеджеров и других
        | специалистов – созданы для того, чтобы помочь любому человеку
        | стать хотя бы немного счастливее.
    a.welcome__button(href="") Подробнее

