
.blog__item {
  display: inline-block;

  @include mq-under-1280 {
    display: block;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.blog__item_margin-right_30 {
  margin-right: 30px;

  @include mq-under-1280 {
    margin: 0 0 39px;
  }
}

.blog__sub-anchor {
  color: black;
}

.blog__img {
  height: 128px;
  width: 180px;

  float: left;

  margin-right: 15px;

  @include mq-under-880 {
    float: none;
    margin: 0;
  }
}

.blog__sub-head {
  font-size: 15px;
  line-height: 18px;

  margin-bottom: 13px;

  @include mq-under-880 {
    margin: 15px 0 14px;
  }
}

.blog__text {
  max-width: 465px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  @include mq-under-880 {
    max-width: 400px;

    margin: auto;
  }
}

