
include __content/work__content

-
    var elemPerBlock = 1
    var pages = Math.ceil(4 / elemPerBlock)

section.work
    h2.work__head Как мы работаем

    .js-slider
        .js-slider__wrap.work__wrap
            ul.js-slider__list.work__list(data-pages=pages)
                +content({
                    head: 'Удобно',
                    src: 1,
                    text: `Мы оказываем преимущественно дистанционные консультации – по телефону или через skype.
                           Такой вид консультаций по своей результативности является ничем не хуже очной.
                           Кроме того, вы экономите время на дорогу и не заботитесь о том, как вы выглядите
                           и вообще можете находиться, где угодно. `
                })

                +content({
                    head: 'Эффективно',
                    src: 2,
                    right: true,
                    text: `Мы не обещаем чуда, но предлагаем увидеть жизненные альтернативы и научиться их реализовывать.
                           В отличие от телефона доверия, где коммуникаций носит разовый характер и направлена на
                           разрешение кризиса сиюминутно, мы готовы «вести» человека, пройти с ним вместе сложный жизненный
                           этап или переосмыслить ситуацию в поисках того пути, которые наиболее ему подходит.`
                })

                +content({
                    head: 'Конфиденциально',
                    src: 3,
                    text: `Многие люди уже получили помощь у нас. Иногда мы приводим примеры реальных случаев потому,
                           что многие могут себя в них узнать, примерить на себя и ознакомиться с ценными наблюдениями
                           психологов. Однако основная индивидуальная работа начнется при личном обращении. Мы позаботимся
                           о том, чтобы все осталось строго между нами.`
                })

                +content({
                    head: 'С пониманием',
                    src: 4,
                    right: true,
                    noMargin: true,
                    text: `Мы не считаем потребность в помощи слабостью или изъяном. Если мы и оцениваем обращение
                           человека за помощью, то скорее как естественный шаг, говорящий о его готовности к
                           переменам и развитию.`
                })

        .work__navigation
            +sliderNavigation(4)