
include __item/blog__item

section.blog
    a.blog__anchor(href="somewhere.html") Все статьи
    h2.blog__head Блог

    ul
        +blog__item({
            src: 1,
            head: 'Итак, вы хотите принимать деньги',
            text: 'Как принимать платежи наличными, картой и в интернете. ФЗ-54 и не только'
        })

        +blog__item({
            src: 2,
            head: 'Итак, вы хотите принимать деньги',
            text: 'Как принимать платежи наличными, картой и в интернете. ФЗ-54 и не только'
        })