
.list {
  font: 14px "Open Sans", sans-serif;
}

.list__item {
  display: inline-block;

  @include mq-under-600 {
    text-align: center;

    display: block;
  }
}

.list__item_margin-right_29 {
  margin-right: 29px;
}

.list__item_margin-right_20 {
  margin-right: 20px;

  @include mq-under-600 {
    margin: 0 0 15px;
  }
}

.list__anchor {
  color:  #1D1C1C;
  letter-spacing: 0.4px;
}