
.list {

}

.list__item {
  display: inline-block;
}

.list__item_margin-right_29 {
  margin-right: 29px;
}

.list__item_margin-right_20 {
  margin-right: 20px;
}

.list__anchor {
  color:  #1D1C1C;
  letter-spacing: 0.4px;
}