mixin navList(margin)

    -
        var items = 'Услуги; О нас; Блог; Вопросы; Контакты'.split('; ');
        var href = 'services; about; blog; questions; contacts'.split('; ');
        var itemClass = 'nav__item';
        itemClass += margin ? ` nav__item_margin-right_${margin}` : ''

    nav.nav
        ul.nav__list
            -for (var i = 0; i < 5; i++)
                -if (i === 4)
                    -itemClass = 'nav__item'
                li(class= itemClass)
                    a.nav__anchor(href=`${href[i]}.html`)= items[i]