// colors
$light-green: #8DC33E;
$green: #76BD01;
$grey: #979797;
$black: #1D1C1C;

// color's variables
$header: white;

$line: $grey;

$ask-button: $light-green;
$ask-button-hover: $green;
$ask-button-text: white;

$screen-small: 550px;
$screen-small-medium: 768px;
$screen-medium: 1024px;
$screen-medium-large: 1280px;
$screen-large: 1440px;
//$screen-enormous: 1720px;