
.situation__content {
  display: none;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.situation__content_visible {
  display: block;
}

.situation__img {
  height: 149px;
  width: 162px;

  float: left;
  margin-right: 67px;

  @include mq-under-880 {
    height: 75px;
    width: 81px;

    float: none;
    margin-right: 0;
  }
}

.situation__sub-head {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.33px;
  line-height: 32px;

  margin-bottom: 20px;

  @include mq-under-880 {
    font-size: 14px;
    line-height: 24px;

    margin: 29px 0 18px;
  }
}

.situation__text {
  opacity: .5;
  font-size: 15px;
  line-height: 31px;
  //white-space: pre-wrap;

  @include mq-under-880 {
    font-size: 14px;
    line-height: 24px;
  }
}