
.company {
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

  position: relative;

  padding: 60px 240px 86px;

  @include mq-under-1280 {
    padding: 60px 160px 86px;
  }

  @include mq-under-1024 {
    padding: 50px 80px 70px;
  }

  @include mq-under-880 {
    padding: 40px 20px 50px;
  }

}

.company__head {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  margin-bottom: 42px;

  @include mq-under-880 {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 39px;
  }
}

.company__wrap {
  min-height: 50px;
}

.company__list {
  width: calc(100% / 3 * 5);

  @include mq-under-880 {
    width: 100%;
    position: static;
  }
}

.company__item {
  width: calc(100% / 5);
  display: inline-block;

  @include mq-under-880 {
    width: 100%;

    text-align: center;

    display: block;
    margin-bottom: 36px;
  }
}

.company__navigation {
  @include mq-under-880 {
    display: none;
  }
}

