-
    var items = 'ESP; MA; MD; MD; ESP'.split('; ')
    var elemPerPage = 3
    var pages = Math.ceil(items.length / elemPerPage)

section.company
    h2.company__head Нам доверяют

    .js-slider
        .company__wrap.js-slider__wrap
            ul.company__list.js-slider__list(data-pages=pages)
                each item in items
                    li.company__item
                        a(href="company.html")
                            img(src=require(`./images/company/${item}.png`) alt=`${item}`)

        .company__navigation
            +sliderNavigation(pages, true)