-var items = 'ESP; MA; MD'.split('; ')

section.company
    h2.company__head Нам доверяют

    .company__slider
        ul.company__wrap
            each item in items
                li.company__item
                    //img(src=require(`./images/company/${item}.png`) alt="ESP")
    button.company__button.company__button_prev.company__button_disabled
    button.company__button.company__button_next