
@import "../specialist/specialist";

.crew {
  box-shadow: 0 1px 0 0 rgba(199,199,199,0.5);
  position: relative;

  padding: 60px 240px 40px;

  @include mq-under-1280 {
    padding: 60px 160px 40px;
  }

  @include mq-under-880 {
    padding: 40px 20px 27px;
  }
}

.crew__head {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  margin-bottom: 40px;

  @include mq-under-880 {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 32px;
  }
}

.crew__wrap {
  min-height: 430px;
}

.crew__list {
  width: calc(100% * 5);
}

.crew__item {
  width: calc(100% / 5);
  display: inline-block;
}


