
include ../specialist/specialist

-
    var items = '1; 2; 3; 4; 5'.split('; ')
    var elemPerPage = 1
    var pages = Math.ceil(items.length / elemPerPage)

section.crew
    h2.crew__head Наши специалисты

    .js-slider
        .crew__wrap.js-slider__wrap
            ul.crew__list.js-slider__list(data-pages=pages)
                each item in items
                    li.crew__item
                        +specialist({
                            src: 1,
                            specialty: 'Психотерапевт',
                            name: `Елизавета Сергеевна${item}`,
                            info: `Опыт работы: 25 лет
                                   Окончил Ярославский медицинский университет.
                                   Работал в поликлинике №2. Врачом стать мечтал, эта профессия нравится потому,
                                   что она нужна людям. После работы много гуляю пешком и занимаюсь спортом –
                                   врач должен быть в форме.`
                        })

        +sliderNavigation(pages)