
include ../specialist/specialist

-var count = 2;

section.crew(data-count=count)
    h2.crew__head Наши специалисты

    .crew__slider
        button.crew__button.crew__button_prev
        ul.crew__wrap
            -for (let i = 0; i < count; i++)
                li.crew__item
                    +specialist({src: 1, specialty: 'Психотерапевт', name: 'Елизавета Сергеевна1',
                                 info: `Опыт работы: 25 лет
                                        Окончил Ярославский медицинский университет.
                                        Работал в поликлинике №2. Врачом стать мечтал, эта профессия нравится потому,
                                        что она нужна людям. После работы много гуляю пешком и занимаюсь спортом –
                                        врач должен быть в форме.`})

        button.crew__button.crew__button_next
    .crew__indicator
        -for (let i = 0; i < count; i++)
            -if (i === 0)
                span.crew__circle.crew__circle_active
            -else
                span.crew__circle.crew__circle_margin-left_15