
@import "../specialist/specialist";

.crew {
  box-shadow: 0 1px 0 0 rgba(199,199,199,0.5);
  position: relative;

  padding: 60px 240px 40px;
}

.crew__head {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  margin-bottom: 40px;
}

.crew__slider {
  height: 392px;

  position: relative;
  overflow: hidden;
}

.crew__wrap {
  width: calc(100% * 5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: left 1s;
}

.crew__item {
  width: calc(100% / 5);
  display: inline-block;
}

.crew__indicator {
  text-align: center;

  margin-top: 30px;
}

.crew__circle {
  height: 10px;
  width: 10px;
  background-color: #E4E4E4;
  border-radius: 50%;

  display: inline-block;
}

.crew__circle_active {
  background-color: #A3A3A3;
}

.crew__circle_margin-left_15 {
  margin-left: 15px;
}

.crew__button {
  height: 33px;
  width: 33px;
  background-color: transparent;

  position: absolute;
  top: 50%;
  z-index: 2;

  transform: translateY(-50%);

  &:after {
    content: '';
    height: 19px;
    width: 19px;
    border: solid black;
    border-width: 2px 0 0 2px;

    position: absolute;
    top: 7px;
  }
}

.crew__button_disabled {
  opacity: .1;
}

.crew__button_prev {
  left: 40px;

  &:after {
    left: 4px;
    transform: rotate(-45deg);
  }
}

.crew__button_next {
  right: 40px;

  &:after {
    right: 5px;
    transform: rotate(135deg);
  }
}