@import "__whom/header__whom";

.header {
  height: 100px;
  background-color: $header;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;

  @include mq-under-1024 {
    padding: 0 30px;
  }

  @include mq-under-600 {
    height: 70px;
    padding: 0 20px;
  }
}

.header__left-column {
  display: flex;
  align-items: center;
}

.header__logo {
  max-height: 40px;

  @include mq-under-600 {
    max-width: 157px;
  }
}

.header__wrap {
  display: flex;
}

.header__right-column {
  display: flex;
  align-items: center;

  @include mq-under-880 {
    display: none;
  }
}

.header__button {
  height: 50px;
  width: 180px;
  background-color: $ask-button;
  border-radius: 4px;

  font: bold 15px Roboto, sans-serif;
  letter-spacing: 0.2px;
  color: $ask-button-text;

  margin-left: 40px;

  &:hover {
    background-color: $ask-button-hover;
  }
}