
header.header
    .header__left-column
        a(href="")
            img.header__logo(src=require("./images/logo.png") alt="Logo")

        include __whom/header__whom

    .header__right-column
        +navList(29)
        button.header__button Задать вопрос
