
.footer {
  height: 150px;
  background-color: $footer;
  box-shadow: 0 -1px 0 0 #DADADA;

  display: flex;
  flex-flow: column wrap;

  padding: 47px 0 0 240px;

  @include mq-under-1280 {
    padding: 47px 0 0 100px;
  }

  @include mq-under-1024 {
    height: auto;

    align-items: center;

    padding: 30px 0;
  }
}

.footer__copyright {
  font: 14px "Proxima Nova", sans-serif;
  letter-spacing: 0.25px;
  opacity: .6;

  margin: 20px 0 23px;

  @include mq-under-1024 {
    text-align: center;
    order: 2;
    margin: 0;
  }
}

.footer__developer {
  font: 14px "Open Sans", sans-serif;

  display: flex;
  align-items: center;

  @include mq-under-1024 {
    order: 1;
    margin: 34px 0 25px;
  }
}

.footer__main-logo {
  margin-left: 6px;
}

.footer__middle-column {
  @include mq-under-1024 {
    margin: 41px 0 27px;
  }
}

.footer__h5 {
  font: 14px "Proxima Nova", sans-serif;
  opacity: 0.6;

  margin-bottom: 11px;

  @include mq-under-1024 {
    display: none;
  }
}

.footer__icon {
  height: 23px;
  width: 23px;
}

.footer__icon_margin_35 {
  margin: 0 35px;
}

.footer__wrap {
  display: flex;
  align-items: center;
}

.footer__money_margin_12 {
  margin: 0 12px;
}