


ul.questions-list
    li.questions-list__item
        p.questions-list__question Как начать отвечать на платные вопросы?
            span.questions-list__arrow
        p.questions-list__answer
            | Для того чтобы начать отвечать на вопросы, Вам необходимо зарегистрироваться на сайте. В личном кабинете приложить скан копию своего образования. После проверки нашими специалистами достоверности данных, в течение двух дней, Ваш аккаунт становится активным. Если данные не достоверны, аккаунт не активируется, о чем мы уведомляем Вас по электронной почте.
            |
            | Активный аккаунт дает юристу возможность отвечать на бесплатные вопросы, тем самым наращивая свой рейтинг, чем качественнее ответ, тем выше шанс благодарности от пользователя и соответственно выше рейтинг. За каждое очко рейтинга Вы получаете очко бонуса. Бонусные очки можно потратить на покупку тарифа (т.е. по сути, получить платные услуги портала бесплатно).
            |
            | Расчет рейтинга и начисление бонусов можно в нижеследующем раздели. Тарифную сетку можно изучить в личном кабинете.
            | Также, Вы можете не накапливать постепенно бонусы для получения доступа к платным возможностям системы, а приобрести любой понравившийся Вам тариф и начать зарабатывать прямо сейчас.

    -for (let i = 0; i < 6; i++)
        li.questions-list__item
            p.questions-list__question Когда Вы получаете оплату за свой ответ
                span.questions-list__arrow
            p.questions-list__answer Когда-нибудь точно получите, наверное