
doctype html
html
    head
        title Appvelox
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Appvelox test layout")
        meta(name="keywords" content="Layout, appvelox, test")
        meta(name="author" content="Dimitry Seredkin")
        link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.main.css}`)
    body
        h1 Hi, traveller!