
include common.blocks/navList/navList

doctype html(lang="ru")
html
    head
        title Appvelox
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Appvelox test layout")
        meta(name="keywords" content="Layout, appvelox, test")
        meta(name="author" content="Dimitry Seredkin")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.questions.css}`)
    body
        .app
            include common.blocks/questions/questions
        script(src=`${htmlWebpackPlugin.files.chunks.questions.entry}`)