// some help
@import "helpers/reset";
@import "helpers/variables";
@import "helpers/mixins";

// fonts
@import "fonts/fonts";

// pug mixins
@import "common.blocks/navList/navList";

// blocks
@import "common.blocks/header/header";

@import "common.blocks/questions/questions";
@import "common.blocks/toggle/toggle";
@import "common.blocks/questions-list/questions-list";
@import "common.blocks/modal/modal";

@import "common.blocks/footer/footer";

body {
  background-color: rgba(0, 0, 0, 0.7);
}

.app {
  max-width: 1440px;
  min-width: 320px;

  margin: auto;
}