// some help
@import "helpers/reset";
@import "helpers/variables";
@import "helpers/mixins";

// fonts
@import "fonts/fonts";

// pug mixins
@import "common.blocks/navList/navList";
@import "common.blocks/js-slider/js-slider";

// header
@import "common.blocks/header/header";

// main
@import "common.blocks/main/main";

// questions
@import "common.blocks/questions/questions";
@import "common.blocks/toggle/toggle";
@import "common.blocks/questions-list/questions-list";
@import "common.blocks/modal/modal";

// footer
@import "common.blocks/footer/footer";

body {
  background-color: rgba(0, 0, 0, 0.7);
}

.app {
  max-width: 1440px;
  min-width: 320px;
  background-color: white;

  margin: auto;
}