
include __content/situation__content

-
    var items = 'Кризис; Семья; Дети; Коммуникации; Мужчина и женщина; Развитие'.split('; ')
    var count = items.length;

section.situation.js-situation
    h2.situation__head В каких ситуациях можно обратиться к нам


    nav.situation__nav
        ul.situation__wrap(style="left: 53px")
            -for (let i = 0; i < count; i++)
                -if (i === 0)
                    li.situation__item.situation__item_active(data-index=`${i}`)= items[i]
                -else
                    li.situation__item.situation__item_margin-left_81(data-index=`${i}`)= items[i]

    ul.situation__list
        +situation__content({
            visible: true,
            src: 'family',
            head: `Кризис`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })
        +situation__content({
            src: 'family',
            head: `Поможем в поиске путей разрешения бытового семейного конфликта,
                   найти и устранить причины конфликтов. сгладить проблемы поколений.
                   Поможем восстановить целостность семьи.`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })
        +situation__content({
            src: 'family',
            head: `Дети`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })
        +situation__content({
            src: 'family',
            head: `Коммуникации`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })
        +situation__content({
            src: 'family',
            head: `Мужчина и женщина`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })
        +situation__content({
            src: 'family',
            head: `Развитие`,
            text: `Переживание потери близких.     Стресс, Апатия, Тревоги.      Страхи, Проблемы здоровья       Кризисы возраста       Зависимости и вредные привычки`
        })