
.questions {
  background-color: $questions;

  padding: 71px 240px 72px;

  @include mq-under-1280 {
    padding: 70px 140px;
  }

  @include mq-under-1024 {
    padding: 50px 80px;
  }
}

.questions__h1 {
  font: 300 25px Roboto, sans-serif;
  text-align: center;
}

.questions__comment {
  font: 300 16px Roboto, sans-serif;
  text-align: center;

  margin: 31px 0 41px;
}

.questions__body {
  min-height: 50vh;
  margin: 39px 0 32px;
}

.questions__extra {
  max-width: 730px;

  font: 300 16px Roboto, sans-serif;
  letter-spacing: 0.29px;
  line-height: 30px;
  text-align: center;

  margin: auto;
}

.questions__ask {
  font-weight: 700;

  cursor: pointer;
}

.questions__number {
  font-weight: 700;
  color: black;
}