
main.questions
    h1.questions__h1 Часто задаваемые вопросы
    p.questions__comment В этом разделе мы собрали самые часто задаваемые вопросы

    include ../toggle/toggle

    ul.questions__body
        include ../questionsList/questions-list

    p.questions__extra
        | Если вы не нашли нужную информацию, то задайте свой вопрос
        a.questions__ask  заполнив форму
        |  или по телефону
        a.questions__number(href="tel: +79681341212")  +7 (968) 134-12-12
        | , мы с радостью ответим на него.

    include ../modal/modal