
.header__whom {
  font: 14px "Open Sans", sans-serif;

  display: inline-block;


  margin-left: 40px;

  @include mq-under-1280 {
    display: none;
  }
}

.header__line {
  height: 14px;
  border-left: 1px solid $line;

  margin: 0 19px;
}

.header__business {
  font-family: Roboto, sans-serif;
  color: $line;
}