
.modal
    .modal__content
        button.modal__close-button &times;
        form(method="post")
            textarea.modal__textarea(placeholder="Задайте ваш вопрос" rows="15")
            button.modal__submit-button(type="submit") Задать вопрос
